<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Safest Route</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- <link rel="stylesheet" href="<%= root_url %>css/foundation.css" /> -->
  	<!-- <script src="<%= root_url %>js/vendor/modernizr.js"></script> -->
  <%= %>
</head>
<body>
	<nav>
	    <div class="nav-wrapper blue darken-1">
	      <a href="#" class="brand-logo">Safest Route</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="sass.html">Sass</a></li>
	        <li><a href="components.html">Components</a></li>
	        <li><a href="javascript.html">JavaScript</a></li>
	      </ul>
	    </div>
	  </nav>
	<%= yield %>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="<%= root_url %>js/materialize.min.js"></script>
    <!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="<%= root_url %>css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="<%= root_url %>css/foundation.css" />
    <script src="<%= root_url %>js/vendor/modernizr.js"></script>
    <script src="<%= root_url %>js/foundation.min.js"></script>
    <script>
        $(function() {
            $(document).foundation();
        })
    </script>
</body>
</html>
